*{
  margin: 0px;
}
.page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #504949;
}
.container{
  background-color: rgb(245, 245, 245);
  width: 35vw;
  height: 40vh;
  font-size: 30px;
  font: nats;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding-bottom: 50px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, .8);
}
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  font: nats;
  font-family: nats;
  font-size: 50px;
  font-weight: normal;
  color: #FF8940;
}
.options-container{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.vendor-container{
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 20px;
}
.vendor-container:hover{
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(199, 199, 199);
  font-size: 20px;
  border-radius: 20px;
  transition: 0.5s;
}
.vendor-logo{
  background-image: url(icons/vendor.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 120px;
}
.supplier-logo{
  background-image: url(icons/supplier.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 160px;
}
.supplier-container{
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 20px;
}
.supplier-container:hover{
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(199, 199, 199);
  font-size: 20px;
  border-radius: 20px;
  transition: 0.5s;
}
